<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
<a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style=>Главная Страница</a>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                {% if user.avatar %}
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{user.avatar.url}}"><span class="font-weight-bold">{{user.username}}</span></div></div>
                {% else %}
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="/media/avatar.jpg"><span class="font-weight-bold">{{user.username}}</span></div></div>
                {% endif %}
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Профиль</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Имя</label><input type="text" class="form-control" placeholder="Имя" value="{{user.first_name}}"></div>
                        <div class="col-md-6"><label class="labels">Фамилия</label><input type="text" class="form-control" placeholder="Фамилия" value="{{user.last_name}}"></div>
                        <div class="col-md-12"><label class="labels">Отчество</label><input type="text" class="form-control" placeholder="Отчество" value="{{user.father_name}}"></div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Номер телефона</label><input type="text" class="form-control" placeholder="Номер телефона" value="{{user.phone_number}}"></div>
                        <div class="col-md-12"><label class="labels">Почта</label><input type="text" class="form-control" placeholder="Почта" value="{{user.email}}"></div>
                    </div>
                    <div class="row mt-3">
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Сохранить</button></div>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin-top: -25px; border: none; height: 5px;color: black;background-color: black;">
    <div class="container rounded bg-white mt-5 mb-5">
        <h4 class="text-center">Товары пользователя {{user.username}}</h4>
        <div class="container">
            <div class="row">
            {%for product in products%}
            <div class="col-sm">
              <div class="card" style="width: 25rem;margin-top: 15px;">
              <img src="{{product.image.url}}" class="card-img-top" alt="..." style="width: auto;height: 300px;">
              <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <a class="text-muted" href="{%url 'rubric' product.rubric.id%}">{{product.rubric.name}}</a>
                <p class="card-text">{{product.content}}</p>
                <p class="card-text">{{product.price}}</p>
                <a href="{%url 'product' product.id%}" class="btn btn-primary">Перейти</a>
                <small class="text-muted">{{product.published}}</small>
              </div>
            </div>
          </div>
            {% endfor %}
          </div>
        </div>
    </div>

</body>
</html>